%h1 Junior Ruby on Rails Developer 
%p Hello! My name is Abyanov Bulat. I'm junior ruby on rails developer. 
%p Skills:
%ul
  %li Ruby/Ruby on Rails
  %li HTML5/CSS3
  %li Git
  %li SQL
  %li TDD/BDD
%p Likes:
%ul
  %li Basketball
  %li Good music
  %li Cars

