@import "bootstrap";

html {
  min-height:100%;
  position: relative;
}

body{
  font-family: Verdana, "Bitstream Vera Sans", sans-serif;
  line-height: 1.8em;
  color: #fff;
  text-align: left;
  background-color: #4a525a;
  font-size: 11px;
  min-height:100%;
}

.logo {
  font-size: 1.9em;
  letter-spacing: .01em;
  text-transform: uppercase;
  text-decoration: none;
  border: 0 !important; 
  padding: 14px 8px 14px 8px !important;
  -webkit-transition: background 500ms ease-in-out;
  -moz-transition: background 500ms ease-in-out;
  -ms-transition: background 500ms ease-in-out;
  -o-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  font-weight: 690;
}

h1 {
  font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Georgia, serif;
  font-size: 1.55em;
  line-height: 1.5em;
  text-align: left;
  font-weight: normal;
  margin: 0em 0px 1.25em 0px;
}

h2 {
  font-family: "Gill Sans", "Gill Sans Std", "Gill Sans MT", Verdana, "Bitstream Vera Sans", sans-serif;
  font-size: 1.1em;
  text-align: left;
  font-weight: normal;
  line-height: 1.8em;
  letter-spacing: .2em;
  margin: 3em 0 1em 0;
  text-transform: uppercase;
}

#wrap{
  padding-bottom: 50px;
}
.content{
  width: 720px;
  margin: 0 auto 15px auto;
  padding: 0;
  text-align: left;
}

.container {
  padding-top: 60px;
  width: 720px;
}

.row{
  width: 720px;
}

.sidebar {
  color: #eee;
  text-align: right;
  font-size: .91em;
  line-height: 1em;
}
.sidebar ul {
  margin: 0;
  padding: 40px 30px 5px 0;
}

.sidebar li {
  list-style: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 0 0 1em 0;
  padding: 0;
}

.button{
  color: #eee;
  border: 0;
  text-decoration: none;
}

a {
  text-decoration: none;
  }

a:link {
  text-decoration: none;
  color: #ddd;
  border-color: #888;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  padding: 3px 0px 2px 0px;
  background-color: inherit;
  }

a:visited {
  color: #ddd;
  border-color: #999;
  border-width: 0 0 1px 0;
  border-style: none none dotted none;
  padding: 3px 0px 2px 0px;
  background-color: inherit;
  }

a:hover {
  color: white;
  text-decoration: none;
  background-color: #606870;
  border-color: #606870;
  -webkit-transition: background 500ms ease-in-out;
  -moz-transition: background 500ms ease-in-out;
  -ms-transition: background 500ms ease-in-out;
  -o-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  }

.sidebar a {
  color: #eee;
  padding: 4px 1px 4px 3px;
  text-decoration: none;
  -webkit-transition: background 500ms ease-in-out;
  -moz-transition: background 500ms ease-in-out;
  -ms-transition: background 500ms ease-in-out;
  -o-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
  }

.sidebar a:link {
  color: #eee;
  border: 0;
  }

.sidebar a:visited {
  color: #eee;
  border: 0;
  }

.sidebar a:hover {
  color: #fff;
  }

.span9 {
  margin-bottom: 70px;
}

.span7{
  padding: 5px 5px 5px 20px;
  width: 515px;
}

/* footer */
.footer {
  position:absolute;
  bottom:0;
  height: 50px;
  text-align: center;
  left: 43%;
  padding: 12px 0 12px 0;
}

.copyright {
  color: #aaa;
}

.copy {
  margin: 0;
}

.posts {
  word-wrap: break-word;
}
.input-search {
  height: 10px !important;
  font-size: 1em !important;
  margin-bottom: 0px !important;
}

.btn-mini {
padding: 0px 10px;
font-size: 10.5px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
margin-left: 15px;
}

.created-post {
  font-size: 0.8em;
  color: #aaa;
  display: block;
  margin-bottom: 5px;
}

.posts-h2 {
  margin: 2em 0 0em 0;
}

textarea, input {
  width: 500px;
}
