<div class="span2 sidebar">
  <ul>
    <li><%= link_to "Home",    root_path,    class: "button" %></li>
    <li><%= link_to "Projects", projects_path, class: "button" %></li>
    <li><%= link_to "Blog",   posts_path,    class: "button" %></li>
    <li><%= link_to "Contact", contact_path, class: "button" %></li>
  </ul>
</div>